{% extends 'MegacodersPageBundle:Module:base.html.twig' %}

{% block css_class %}module-wrapper_banner{% endblock %}

{% block content %}
    {% if banners|length > 0 %}
        {% set blockId = 'banners-list-' ~ random() %}

        <div id="{{ blockId }}" class="carousel slide" data-ride="carousel">
            {% if banners|length > 1 %}
                <ol class="carousel-indicators">
                    {% for banner in banners %}
                        <li data-target="#{{ blockId }}" data-slide-to="{{ loop.index0 }}"{{ loop.first ? ' class="active"' : '' }}></li>
                    {% endfor %}
                </ol>
            {% endif %}

            <div class="carousel-inner" role="listbox">
                {% for banner in banners %}
                    <a href="{{ banner.clickLink|e('html_attr') }}" class="carousel-item carousel-item-banner{{ loop.first ? ' active' : '' }}"{% if banner.image %} style="background-image: url({{ banner.image }});"{% endif %}>
                        <div class="carousel-caption d-none d-md-block">
                            <h3>{{ banner.name }}</h3>

                            {{ banner.html|raw }}
                        </div>
                    </a>
                {% endfor %}
            </div>

            {% if banners|length > 1 %}
                <a class="carousel-control-prev" href="#{{ blockId }}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#{{ blockId }}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
