{% extends 'MegacodersPageBundle:Module:base.html.twig' %}

{% block css_class %}module-wrapper_banner{% endblock %}

{% block content %}
    {% if banner %}
        <div id="{{ blockId }}" class="carousel slide">
            <div class="carousel-inner">
                <a href="{{ banner.clickLink }}" class="carousel-item carousel-item-banner active"{% if banner.image %} style="background-image: url({{ banner.image }});"{% endif %}>
                    <div class="carousel-caption d-none d-md-block">
                        <h3>{{ banner.name }}</h3>

                        {{ banner.html|raw }}
                    </div>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
