{% if admin.isGranted('EDIT', object) %}
    <a href="{{ path('admin_megacoders_bannermodule_bannergroup_banner_list', {id: object.id}) }}"
       class="btn btn-sm btn-default banners_link"
       title="{{ 'admin.entities.banner_group.actions.banners'|trans }}">
        <i class="fa fa-image" aria-hidden="true"></i>
        {{ 'admin.entities.banner_group.actions.banners'|trans }}
    </a>
{% endif %}
